<div th:fragment="header">

<div class="d-flex flex-column flex-md-row align-items-center pb-1 mb-3 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="https://previews.123rf.com/images/vastard/vastard1811/vastard181100047/114268636-tm-mt-logo-vector-initial-monogram-icon-vector.jpg"  height="70" class="me-1"  role="img"><span class="fs-4">Метод Тасминского</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Статьи</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/add">Добавить статью</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/about">О нас</a>

    </nav>
</div>
</div>